/* #region header */
header {
  background-color: white;
  box-shadow:
    0 1px 0 #00000024,
    0 2px 0 #0000000d;
}
header .top img {
  width: 100%;
  height: 60px;
  object-fit: cover;
}

header .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

header .middle .right {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .middle .right .logo {
  text-decoration: none;
}

header .middle .right .logo svg {
  width: 195px;
  height: 30px;
}

header .middle .right .search_box {
  background-color: #f0f0f1;
  border-radius: 999px;
  width: 500px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
}

header .middle .right .search_box svg {
  stroke: #a1a3a8;
  width: 24px;
  height: 24px;
}

header .middle .right .search_box input {
  background-color: transparent;
  border: none;
  outline: none;
  flex-grow: 1;
  height: 100%;
  color: #a1a3a8;
  font-size: 12px;
  font-weight: 500;
}

header .middle .left {
  display: flex;
  align-items: center;
  gap: 12px;
}
header .middle .left a {
  text-decoration: none;
  color: #424750;
  cursor: pointer;
}

header .middle .left .alarm svg {
  width: 22px;
  height: 22px;
}

header .middle .left .sign_in {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid #e0e0e2;
  border-radius: 8px;
}

header .middle .left .sign_in span {
  font-size: 12px;
  font-weight: 700;
}

header .middle .left .sign_in svg {
  width: 20px;
  height: 19px;
}

header .middle .left > span {
  width: 1px;
  height: 24px;
  background-color: #e0e0e2;
}

header .middle .left .cart svg {
  width: 22px;
  height: 22px;
}

header .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .bottom nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header .bottom nav ul li a {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 12px;
  background-color: #0000;
  font-size: 12px;
  font-weight: 400;
  color: #62666d;
  position: relative;
  text-decoration: none;
}
header .bottom nav ul li:first-child a {
  color: #2b2b2b;
  font-weight: bold;
}

header .bottom nav ul li svg {
  width: 20px;
  height: 20px;
  stroke: #a1a3a8;
}
header .bottom nav ul li:first-child svg {
  stroke: #2b2b2b;
}
header .bottom nav ul span {
  width: 1px;
  height: 16px;
  background-color: #e0e0e2;
}
header .bottom nav ul li .underline {
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: crimson;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 300ms;
}
header .bottom nav ul li:hover .underline {
  width: 100%;
}

header .bottom .address {
  max-width: 121px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
  gap: 10px;
  color: #f57f17;
  background-color: #f57f1712;
  border-radius: 9999px;
  margin-bottom: 10px;
  margin-left: 20px;
  cursor: pointer;
}

header .bottom .address svg {
  width: 18px;
  height: 18px;
}

header .bottom .address span {
  font-size: 12px;
  font-weight: 700;
}
/* #endregion header */

/* #region hero slider */
.hero_slider .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.hero_slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hero_slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* #endregion hero slider */

/* #region category */
.category .content {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  margin-top: 16px;
}
.category .items {
  max-width: 82px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  gap: 4px;
  margin-top: 16px;
  text-decoration: none;
  cursor: pointer;
}

.category .items .more_icon {
  width: 52px;
  height: 52px;
  background-color: #f0f0f1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category .items svg {
  width: 24px;
  height: 24px;
  fill: #424750;
}

.category .items img {
  max-width: 52px;
  height: 52px;
  display: block;
  object-fit: cover;
}
.category .items span {
  width: 100%;
  font-size: 11px;
  font-weight: 700;
  line-height: 180%;
  color: #3f4064;
  text-align: center;
  margin-top: 4px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
}
/* #endregion category */
/* #region discounted products */
.discounted_products .content {
  background-color: #d22c4e;
  border-radius: 16px;
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
}

.discounted_products .right {
  padding: 12px 20px 20px 20px;
  align-self: stretch;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
}

.discounted_products .right .top {
  max-width: 64px;
  height: 64px;
}
.discounted_products .right .top svg {
  width: 100%;
  height: 64px;
  object-fit: contain;
  display: inline-block;
}
.discounted_products .right .center {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.discounted_products .right .center .top {
  max-width: 126px;
  height: 28px;
  display: block;
}
.discounted_products .right .center .top svg {
  width: 100%;
  object-fit: contain;
  display: inline-block;
}

.discounted_products .right .center .bottom {
  display: flex;
  gap: 2px;
  align-items: center;
  height: 24px;
}

.discounted_products .right .center .bottom .clock {
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.discounted_products .right .center .bottom .clock .item {
  max-width: 20px;
  height: 20px;
  padding-top: 1px;
  font-size: 15px;
  font-weight: 700;
  line-height: 2.15;
  color: #23254e;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.discounted_products .right .center .bottom .colon {
  max-width: 4px;
  font-size: 15px;
  font-weight: 700;
  line-height: 2.15;
  color: #fff;
}
.discounted_products .right a {
  border-radius: 8px;
  box-shadow: #00000000;
  transition: transform 0.05ms;
  cursor: pointer;
  background-color: #f2f3f5;
  padding: 4px 8px;
  height: 32px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
}
.discounted_products .right a span {
  padding: 2px 6px 0px;
  color: #333333;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 140%;
  text-align: right;
  display: inline-block;
}
.discounted_products .right a svg{
    max-width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    fill: #333333;
}
/* #endregion discounted products */
