@import url("./reset.css");
@import url("./font.css");

:roo {
  --color-red-300: red;
}

* {
  font-family: iranyekan;
}

html,
body {
  font-family: iranyekan;
  direction: rtl;
  text-align: right;
  font-weight: normal;
  font-size: 1rem;
}

.container {
  max-width: 1676px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .content_wrapper {
    max-width: 1336px;
    padding: 0 16px;
    margin:24px auto 0 auto;
  }
}

